@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
    /* overflow: hidden; */
}

html {
    height: 100%;
    width: 100vw;
}


#form-container::-webkit-scrollbar {
    background: transparent
}

#form-container {
    overflow-y: scroll;
    scrollbar-color: red blue;
}

input {
    cursor: pointer;
  
}

body {
    position: relative;
}

.form-headings {
    opacity: 0.7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

body.darkModeOn {
    background-color: rgba(32, 31, 77, 0.877);
    color: rgb(168, 168, 168)
}

body.darkModeOn .menu {
    color: rgb(19, 18, 66);
}

body.darkModeOff  .menu {
    color: black;
   
}

body.darkModeOff {
    background-color: white;
    color: black;
}

#menu-input-container {
    display: grid;
    grid-template-areas: 
    "darkMode darkModeLabel"
    "lightMode lightModeLabel";

}

#dark-mode {
    grid-area: darkMode;
}

#dark-mode + label {
    grid-area: darkModeLabel;
}

#light-mode + label {
    grid-area: lightModeLabel;
}

#light-mode {
    grid-area: lightMode;
}

#menu-container {
    transition: height ease 1s;
    padding-inline-start: 0px;
    height: 7rem;
    overflow: hidden;
}

#menu-container.hide-menu {
    height: 0px;
}



.menu-items {
    padding: 0px 25px;
}


.menu-items:hover {
    color: black;
    font-weight: bolder;
    
}

@media screen and (min-width: 350px) and (max-width: 550px) {
 
    
    #form-heading-container {
        width: 100%;
    }

    #form-container {
        min-width: 350px;
    }
}

@media screen and (min-width: 360px) and (max-width: 800px){
    #form-container {
        min-width: 95%;
    }
}


@media screen and (min-width: 801px) and (max-width: 1200px){
    #form-container {
        min-width: 70%;
    }
}

@media screen and (min-width: 801px){
    #form-container {
        width: 70%;
        margin-top: 20px;
    }
}

